.button {
    
    display: inline-block;
    padding: 70px 100px;
    margin-top: 25px;
    background-position-y: bottom;
    background-color: #ffffff47; color: #100909; 
    text-decoration: none; 
    border-radius: 50px; 
    transition: background-color 2s; 
    box-shadow: inset 4px 4px 10px #e3dee5, inset -4px -4px 10px #ffffff;
    cursor: pointer;
    font-size: 25px;
  padding: 15px 40px;
  transition: all 0.7s ease-in-out;
  border: 5px solid rgba(206, 206, 206, 0.918);
}

.button:hover {
    background-color: #383135; 
    color: rgb(19, 4, 4); 
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
   
   
    align-items: center;
    background: linear-gradient(to bottom right, #e0d7db, #1589a0); 
    color: rgba(255, 255, 255, 0.244);
    font-family: Arial, sans-serif;
}