body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #e0d7db, #1589a0); 
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}
